# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
out
gen
/build/
/benchpress-build/
.DS_Store
gen_docs.disable
test.disable
regression/temp*.html
performance/temp*.html
.idea/workspace.xml
*~
*.swp
angular.js.tmproj
node_modules/
bower_components/
angular.xcodeproj
.idea
.idea/
*.iml
.agignore
.lvimrc
libpeerconnection.log
npm-debug.log
/tmp/
/scripts/bower/bower-*
.vscode
*.log
*.stackdump
assets/css/elegant_font/gpl_license.txt
assets/css/elegant_font/mit_license.txt
assets/css/elegant_font/gpl_license.txt
