.site-header__title {
    font-size: 36px;
    color: #fff;
}

/* _wrapper.css */
.wrapper {
    padding-left: 18px;
    padding-right: 18px;
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;
}

/* _timeline.css */
.timeline {
    position: relative;
    margin: 30px auto;
    padding: 60px 0;

}

.timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 4px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.35);;
}

@media (min-width: 800px) {
    .timeline::before {
        left: 50%;
        margin-left: -2px;
    }
}

.timeline__item {
    margin-bottom: 20px;
    position: relative;
}

.timeline__item::after {
    content: "";
    clear: both;
    display: table;
}

.timeline__item:nth-child(2n) .timeline__item__content {
    float: right;
}

.timeline__item:nth-child(2n) .timeline__item__content::before {
    content: '';
    right: 40%;
}

@media (min-width: 800px) {
    .timeline__item:nth-child(2n) .timeline__item__content::before {
        left: inherit;
    }
}

.timeline__item:nth-child(2n) .timeline__item__content__date {

}

.timeline__item:nth-child(2n) .timeline__item__content__description {
    color: #fff;
}

.timeline__item:last-child {
    margin-bottom: 0;
}

.timeline__item-bg {
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    color: #fff;
}

/*.timeline__item-bg:nth-child(2n) .timeline__item__station {*/
/*background-color: #b292c5;*/
/*}*/
.timeline__item-bg:nth-child(2n) .timeline__item__content {
    background-color: #b292c5;
}

.timeline__item-bg:nth-child(2n) .timeline__item__content::before {
    background-color: #b292c5;
}

.timeline__item-bg:nth-child(2n) .timeline__item__content__description {
    color: #fff;
}

/*.timeline__item-bg .timeline__item__station {*/
/*background-color: #65adb7;*/
/*}*/
.timeline__item-bg .timeline__item__content {
    background-color: #65adb7;
}

.timeline__item-bg .timeline__item__content::before {
    background-color: #65adb7;
}

.timeline__item-bg .timeline__item__content__description {
    color: #fff;
}

.timeline__item__station {
    background-color: #9aa0b9;
    width: 4px;
    height: 4px;
    position: absolute;
    border-radius: 50%;
    /*padding: 0px;*/
    top: 15px;
    left: 5%;
    /*margin-left: -33px;*/
    border: 4px solid #fff;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

@media (min-width: 800px) {
    .timeline__item__station {
        left: 49.7%;
        /*margin-left: -30px;*/
        width: 4px;
        height: 4px;
        padding: 0px;
        border-width: 4px;
        top: 25px;
    }
}

.timeline__item__content {
    width: 80%;
    background: rgba(255, 255, 255, 0.10);
    padding: 20px 30px;
    border-radius: 8px;
    float: right;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

@media (min-width: 800px) {
    .timeline__item__content {
        width: 40%;
        float: inherit;
        padding: 30px 40px;
    }
}

.timeline__item__content::before {
    content: '';
    position: absolute;
    left: 7%;
    background: rgba(255, 255, 255, 0.35);
    top: 20px;
    width: 13%;
    height: 2px;
    z-index: -1;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

@media (min-width: 800px) {
    .timeline__item__content::before {
        left: 40%;
        top: 30px;
        height: 4px;
        margin-top: -2px;
        width: 10%;
    }
}

.timeline__item__content__date {
    margin: 0;
    /*padding: 8px 12px;*/
    font-size: 18px;
    margin-bottom: 10px;
    /*background-color: #65adb7;*/
    color: #FFFFFF;
    display: inline-block;
    /*border-radius: 8px;*/
    /*border: 2px solid #fff;*/
}

.timeline__item__content__description {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #fff;
}

@media (min-width: 800px) {
    .timeline__item__content__description {
        font-size: 14px;
        line-height: 28px;
    }
}

/* _site-footer.css */
.site-footer {
    padding: 50px 0 200px 0;

}

.site-footer__text {
    color: #e6e6e6;
    font-size: 14px;
    text-align: center;
}

.site-footer__text__link {
    color: #8287a9;
}